
#admin .settingContainer {
    margin: 30px 10px;
}

#admin .settingSection {
    margin-bottom: 20px;
}

#createSeason form {
    margin: 30px 20px;
}

#createSeason #managerInput {
    margin: 20px 0;
}

#createSeason #managerInput .managerInputField {
    height: 20px;
    vertical-align: middle;
}

#admin .removeRowButton {
    vertical-align: middle;
    margin-left: 10px;
    min-width: 0;
    height: auto;
}

#admin .addRowButton {
    margin-top: 10px;
}

#admin .submitButtonContainer {
    overflow: hidden;
}

#admin .submitButtonContainer button {
    float: right;
}

#createAuction input {
    height: 20px;
    vertical-align: middle;
}

#createAuction select {
    height: 25px;
    margin-left: 10px;
    vertical-align: middle;
}
