
/* AdminSeasonSelect */

#adminSeasonSelect {
    margin: 20px 0;
}

#adminSeasonSelect select {
    width: 180px;
    font-size: 16px;
}

#adminSettings {
    margin: 50px 30px;
}

/* ManageManagers */

#manageManagers table {
    border-top: 1px solid black;
    border-spacing: 0;
}

#manageManagers td {
    border-bottom: 1px solid black;
    padding: 5px;
}

.clickableSpan {
    color: blue;
    text-decoration: underline;
}

.clickableSpan:hover {
    cursor: pointer;
}
