
/* Auction */

.auctionSectionContainer {
    padding: 30px 0;
}

.auctionPlayerCardContainer .noPlayers {
    margin: 15px 0;
}

#auctionSubmit {
    float: right;
}

/* AuctionPlayerCard */

.auctionPlayerCard {
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    margin: 15px 20px;
    padding: 15px;
    line-height: 2em;
    text-align: center;
}

.auctionPlayerCard input {
    margin: 0 5px;
    width: 75px;
}

/* submit modal */

#confirmBidsButtonContainer {
    overflow: hidden;
}

#confirmBidsButton {
    float: right;
}

#auctionSubmitModal ul {
    margin: 20px;
}