
.sidescrollTable {
    margin-top: 20px;
    position: relative;
    overflow-x: scroll;
}

.auctionTableAndInput {
    margin: 30px 0;
}

.auctionTableAndInput table {
    border-spacing: 0;
}

.auctionTableAndInput th {
    font-weight: bold;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 10px;
}

.auctionTableAndInput td {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

/* AuctionTableInput */
#auctionTableInput label {
    margin-right: 20px;
}

.auctionTableInputField {
    margin: 0 10px;
}

/* WeekSquare */
.weekSquare {
    min-width: 200px;
}

/* ManagerSquare */
.managerSquare, .spacer-square {
    min-width: 150px;
    left: 0px;
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
}

.managerSquare p {
    font-size: 14px;
    font-weight: normal;
}

/* WinSquare */

.aliveSquare {
    padding: 0 10px;
}

.win-player-name {
    display: inline-block;
}

.win-player-amount {
    float: right;
    margin-left: 20px;
}

/* EliminatedSquare */

.eliminatedSquare {
    background-color: darkgray;
}

ul {
    list-style: none;
}
