
.header {
    padding: 20px 40px;
    font-family: Helvetica;
    background-color: #782951;
    color: white;
}

.title {
    display: inline-block;
}

.userInfo {
    float: right;
    text-align: right;
}

/* NAV */
nav ul {
    text-align: center;
    padding-top: 10px;
}

nav a {
    color: white;
}

nav li {
    display: inline;
    margin: 0 40px;
}